/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/mayaly-oy-firebase-adminsdk-ajx2a-a7796de213.json
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/Modules/Gateways
/storage/install.zip
/storage/update.zip
Admin_new_install.zip
demo/public.zip
/*.zip
